<% if (usertabledata != null) { %>

    <tr class="data_item_tr">
        <td class="mobile-hide"><%= usertabledata.department %></td>
        <td class="table_name" style="font-family: ＭＳ 明朝;"><%= usertabledata.name %></td>
        <td class="mobile-hide"><%= usertabledata.information %></td>
        <% switch (usertabledata.status) {
            case '在席': %>
            <td><span class="status_zaiseki icon"><i class="fa fa-laptop" aria-hidden="true"></i></span><%= usertabledata.status %></td>
            <% ;break; 
            case '休暇': %>
            <td><span class="status_kyuuka icon"><i class="fa fa-bed" aria-hidden="true"></i></span><%= usertabledata.status %></td>
            <% ;break; 
            case '帰宅': %>
            <td><span class="status_kitaku icon"><i class="fas fa-home"></i></i></span><%= usertabledata.status %></td>
            <% ;break; 
            case '客先': %>
            <td><span class="status_kyakusaki icon"><i class="far fa-building"></i></span><%= usertabledata.status %></td>
            <% ;break; 
            case '社内': 
                if (usertabledata.ikisaki == "応接室１" || usertabledata.ikisaki == "応接室２" || usertabledata.ikisaki == "応接室２" || usertabledata.ikisaki == "営業ＭＴＧ") { %>
                    <td><span class="status_shanai icon"><i class="fa fa-users" aria-hidden="true"></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "サーバ室") { %>
                    <td><span class="status_shanai icon"><i class="fas fa-server"></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "検証室") { %>
                    <td><span class="status_shanai icon"><i class="fa fa-wrench" aria-hidden="true"></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "食堂") { %>
                    <td><span class="status_shanai icon"><i class="fas fa-utensils"></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "喫煙室") { %>
                    <td><span class="status_shanai icon"><i class="fas fa-smoking"></i></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "リラクゼーション") { %>
                    <td><span class="status_shanai icon"><i class="fas fa-couch"></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "社長室") { %>
                    <td><span class="status_shanai icon"><i class="fas fa-user-secret"></i></span><%= usertabledata.status %></td>
                <% } else if (usertabledata.ikisaki == "その他") { %>
                    <td><span class="status_shanai icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span><%= usertabledata.status %></td>
                <% } else { %>
                    <td><span class="status_shanai icon"><i class="fa fa-television" aria-hidden="true"></i></span><%= usertabledata.status %></td>
            <% };break; 
            case '出張': %>
            <td><span class="status_shucchou icon"><i class="fa fa-suitcase" aria-hidden="true"></i></span><%= usertabledata.status %></td>
            <% ;break; 
            case '研修': %>
            <td><span class="status_kennshuu icon"><i class="fab fa-leanpub"></i></span><%= usertabledata.status %></td>
            <% ;break; 
            default: %>
            <td><span class="status_sonota icon"><i class="fa fa-smile-o" aria-hidden="true"></i></span><%= usertabledata.status %></td>
            <% ;break; } %>
        <td><%= usertabledata.ikisaki %></td>
        <td><%= usertabledata.time %></td>
        <td><%= usertabledata.memo %></td>
        <td class="mobile-hide"><%= usertabledata.updateTime %></td>
        <td>
            <div class="btn-wrap">
                <a href="/edit/<%=  usertabledata.id  %>/" class="btn btn-switch"><span>編集</span></a>
            </div>
        </td>
    </tr>

<% } %>