<% if (usertabledata != null) { %>

    <tr>
        <td><%= usertabledata.department %></td>
        <td class="table_name" style="font-family: ＭＳ 明朝;"><%= usertabledata.name %></td>
        <td><%= usertabledata.information %></td>
        <td><%= usertabledata.status %></td>
        <td><%= usertabledata.ikisaki %></td>
        <td><%= usertabledata.time %></td>
        <td><%= usertabledata.memo %></td>
        <td><%= usertabledata.updateTime %></td>
        <td>
            <div class="btn-wrap">
                <a href="/edit/<%=  usertabledata.id  %>/" class="btn btn-switch"><span>編集</span></a>
            </div>
        </td>
    </tr>

<% } %>