<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" integrity="sha512-Po8rrCwchD03Wo+2ibHFielZ8luDAVoCyE9i6iFMPyn9+V1tIhGk5wl8iKC9/JfDah5Oe9nV8QzE8HHgjgzp3g==" crossorigin="anonymous" />
	</head>

<body>
	<header>
			<div class="header-right">
				<a href="/"><img class="logo" src="https://msi-net.co.jp/main/wp-content/uploads/2020/01/logo.png"></a>
			</div>
			<div class="header-left">
						<h1><span><i class="fa fa-bars" aria-hidden="true"></i></span><%= title %></h1>
						<ul class="downlist">
							<li id="create_user" class="admin_only"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span>社員新規登録</li>
							<li id="create_kyakusaki" class="admin_only mobile-hide"><span><i class="fas fa-handshake"></i></span>客先管理＆新規</li>
							<li id="create_shanai" class="admin_only mobile-hide"><span><i class="fa fa-building" aria-hidden="true"></i></span>社内管理＆新規</li>
							<li id="change_userinfo"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>基本情報変更</li>
							<li id="logout"><span><i class="fas fa-sign-out-alt"></i></span>ログアウト</li>
						</ul>
			</div>
			<div id="searchbox-input-wrapper">
				<form method="POST" action="/">
					<input id="searchbox" name="find" type="search" autocomplete="off" spellcheck="false" aria-live="polite" autofocus="" placeholder="&#xf002; <%= finding %>">
				</form>
			</div>
	</header>

	<div class="color_example">
		<p>在席<i class="fas fa-circle" style="color: #f9c92e;"></i></p>
		<p>休暇<i class="fas fa-circle" style="color: #c00f15;;"></i></p>
		<p>帰宅<i class="fas fa-circle" style="color: #505050;"></i></p>
		<p>客先<i class="fas fa-circle" style="color: #ee4f83;"></i></p>
		<p>社内<i class="fas fa-circle" style="color: #3ad413;"></i></p>
		<p>出張<i class="fas fa-circle" style="color: #41b1e1;"></i></p>
		<p>研修<i class="fas fa-circle" style="color: #c34bff;"></i></p>
		<p>その他<i class="fas fa-circle" style="color: #ff9f4f;"></i></p>
	</div>

	<div id="edit-group">
		<p></p>
	</div>

	<div id="contact_wrap">
		<form method="POST" action="/contact" id="form_contact">
			<div class="contact_icon"><i class="fas fa-feather-alt"></i></div>
			<div class="kakomi-smart2"><span class="title-smart2">連絡事項</span><textarea class="contact_text" id="contact_text" name="msg"><%= msg %></textarea></div>
		</form>
	</div>

	<!-- モーダル部分　社員新規登録 -->
	<div class="signup-modal-wrapper admin_only" id="signup-modal">
		<div class="modal">
		  <div id="close-modal">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="adduser-form">
			<h2>社員新規登録</h2>
			<form name="form_newuser" method="POST" action="/newuser">
				<input id="create_department" name="department" class="form-control" type="text" placeholder="部署名">
				<div class="div_create_name">
					<input id="create_name" name="name" class="form-control" type="text" placeholder="名前"><a id="newadmin_check_btn"><i class="fas fa-user"></i></a>
				</div>
				<input type="hidden" id="newadmin_check_body" name="newadmin_check_body" value="0">

				<input id="create_information" name="information" class="form-control" type="text" placeholder="内線番号（省略可）">
				<input id="create_email" name="email" class="form-control" type="text" placeholder="メールアドレス（省略可）">
				<input id="create_password" name="password" class="form-control" type="password" placeholder="パスワード">
				<input id="tmp_password" class="form-control" type="password" placeholder="パスワードを確認">
				<a href="javascript:form_newuser.submit()" id="btn_newuser">新規登録</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで　社員新規登録 -->
	
	<!-- モーダル部分 客先管理-->
	<div class="signup-modal-wrapper admin_only" id="addkyakusaki-modal">
		<div class="modal">
		  <div id="close-modal2">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="addkyakusaki-form">
			<h2>客先管理＆新規登録</h2>
			<form id="form_newkyakusaki" name="form_newkyakusaki" method="POST" action="/newkyakusaki">
				<% var i;for (i in datakyakusaki) {  %>
					<div>
						<input name="kyakusaki" type="text" value="<%= datakyakusaki[i].attributes.kyakusaki %>"><span><i class="far fa-trash-alt btn_kyakusaki_delete"></i></span>
						<input type="hidden" name="id" value="<%= datakyakusaki[i].attributes.id %>">
					</div>
				<% } %>
				<input name="cnt" value="<%= i %>" type="hidden">

				<!-- クローン用区域 -->
				<div id="clonearea_newkyakusaki">
					
				</div>
				<!-- クローン用区域 ここまで　-->

				<!-- クローン要素 -->
				<div class="clone_newkyakusaki hide" id="clone_newkyakusaki">
					<input class="form-control input_newkyakusaki" type="text" placeholder="新客先を追加"><span><i class="fa fa-minus btn_kyakusaki_minus" aria-hidden="true"></i></span>
				</div>
				<!-- クローン要素 ここまで-->

				<span id="btn_kyakusaki_add">+</span>
			  
			  <a href="javascript:form_newkyakusaki.submit()" id="btn_newkyakusaki">登録</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで　客先管理 -->

	<div class="signup-modal-wrapper admin_only" id="addshanai-modal">
		<div class="modal">
		  <div id="close-modal3">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="addshanai-form">
			<h2>社内所在地管理＆新規登録</h2>
			<form id="form_newshanai" name="form_newshanai" method="POST" action="/newshanai">
				<% var n;for (n in datashanai) {  %>
					<div>
						<input name="shanai" type="text" value="<%= datashanai[n].attributes.shanai %>"><span><i class="far fa-trash-alt btn_shanai_delete"></i></span>
						<input type="hidden" name="id" value="<%= datashanai[n].attributes.id %>">
					</div>
				<% } %>
				<input name="cnt_shanai" value="<%= n %>" type="hidden">

				<!-- クローン用区域 -->
				<div id="clonearea_newshanai">
					
				</div>
				<!-- クローン用区域 ここまで　-->

				<!-- クローン要素 -->
				<div class="clone_newshanai hide" id="clone_newshanai">
					<input class="form-control input_newshanai" type="text" placeholder="新社内ポジションを追加"><span><i class="fa fa-minus btn_shanai_minus" aria-hidden="true"></i></span>
				</div>
				<!-- クローン要素 ここまで-->

				<span id="btn_shanai_add">+</span>

			  <a href="javascript:form_newshanai.submit()" id="btn_newshanai">登録</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで -->

	<!-- モーダル部分　社員情報管理 -->
	<div class="signup-modal-wrapper" id="userinfo-modal">
		<div class="modal">
		  <div id="close-modal4">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="userinfo-form">
			<h2>基本情報変更</h2>
			<form name="form_newuserinfo" method="POST" action="/newuserinfo">
			  <input id="userinfo_name" name="userinfo_name" class="form-control" type="text" placeholder="名前" value="<%= login.name %>">
			  <input id="userinfo_department" name="userinfo_department" class="form-control" type="text" placeholder="部署名" value="<%= login.department %>">
			  <input id="userinfo_information" name="userinfo_information" class="form-control" type="text" placeholder="内線番号（省略可）" value="<%= login.information %>">
			  <input id="userinfo_email" name="userinfo_email" class="form-control" type="text" placeholder="メールアドレス（省略可）" value="<%= login.email %>">
			  <input id="userinfo_newpassword" name="userinfo_newpassword" class="form-control" type="password" placeholder="新しいパスワードを入力">
			  <input id="userinfo_newpassword_tmp" class="form-control" type="password" placeholder="新しいパスワードを確認入力">
			  <a href="javascript:form_newuserinfo.submit()" id="btn_newuserinfo">変更</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで　社員情報管理 -->

	<!-- モーダル部分　まとめ編集 -->
	<div class="signup-modal-wrapper" id="editing-modal">
		<div class="modal">
		  <div id="close-modal5">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="editing-form">
			<h2></h2>
			<form name="form_editing" method="POST" action="/editing">
			  <input id="edting_name" class="form-control" type="text" placeholder="名前" value="" disabled>
			  <select name="status" id="status-edit">
				<% datastatus.forEach ( (element)=> {  %>
					<option value="<%= element.attributes.status %>"><%= element.attributes.status %></option>
				<% }); %>
			  </select>
			  <select name="ikisaki" id="ikisaki-edit"></select>
			  <select name="time" id="time-edit">
				<option value="~ 8:30">~ 8:30</option>
				<option value="~ 9:00">~ 9:00</option>
				<option value="~ 9:30">~ 9:30</option>
				<option value="~ 10:00">~ 10:00</option>
				<option value="~ 10:30">~ 10:30</option>
				<option value="~ 11:00">~ 11:00</option>
				<option value="~ 11:30">~ 11:30</option>
				<option value="~ 12:00">~ 12:00</option>
				<option value="~ 12:30">~ 12:30</option>
				<option value="~ 13:00">~ 13:00</option>
				<option value="~ 13:30">~ 13:30</option>
				<option value="~ 14:00">~ 14:00</option>
				<option value="~ 14:30">~ 14:30</option>
				<option value="~ 15:00">~ 15:00</option>
				<option value="~ 15:30">~ 15:30</option>
				<option value="~ 16:00">~ 16:00</option>
				<option value="~ 16:30">~ 16:30</option>
				<option value="~ 17:00">~ 17:00</option>
				<option value="~ 17:30">~ 17:30</option>
				<option value="~ 18:00">~ 18:00</option>
				<option value="~ 18:30">~ 18:30</option>
				<option value="~ 19:00">~ 19:00</option>
				<option value="~ 19:30">~ 19:30</option>
				<option value="~ 20:00">~ 20:00</option>
				<option value="~ 20:30">~ 20:30</option>
				<option value="~ 21:00">~ 21:00</option>
				<option value="~ 21:30">~ 21:30</option>
				<option value="~ 22:00">~ 22:00</option>
				<option value="22:00 ~">22:00 ~</option>
				<option value="不帰">不帰</option>
			</select>
			<textarea type="text" class="memo_add_edit" name="memo" placeholder="メモ"></textarea>
			  <a href="javascript:form_editing.submit()" id="btn_editing">更新</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで　まとめ編集 -->


<div class="main_index">
	<div role="main" class="index-form">
        <form name="form_table" method="POST" action="/add">
            <table class="table_index">
				<thead>
					<tr>
						<th class="mobile-hide" style="min-width: 100pt;">所属</th>
						<th style="min-width: 90pt;">名前</th>
						<th class="mobile-hide" style="min-width: 80pt;">情報</th>
						<th style="min-width: 80pt;">状態</th>
						<th style="min-width: 120pt;">行先</th>
						<th style="min-width: 80pt;">予定時刻</th>
						<th style="width: 18%; min-width: 120px;">メモ</th>
						<th class="mobile-hide" style="min-width: 90pt;">前回更新</th>
						<th style="width: 12%; min-width: 75pt;">変更</th>
					</tr>
				</thead>
                <% for(var i in usertabledata) { %>
                    <%- include('data_item', {usertabledata:usertabledata[i]}) %>
				<% } %>
				<tr class="mobile-hide tr_add admin_only">
					<td><input type="text" class="text_add" name="department" placeholder="部署"></td>
					<td><input type="text" class="text_add add_name" name="name" placeholder="名前"></td>
					<td><input type="text" class="text_add" name="information" placeholder="内線"></td>
					<td><select name="status" class="select_add" id="status">
						<% datastatus.forEach ( (element)=> {  %>
							<option value="<%= element.attributes.status %>"><%= element.attributes.status %></option>
						<% }); %>
						</select>
					</td>
					<td><select class="select_add" name="ikisaki" id="ikisaki" style="display: none;"></select></td>
					<td><select class="select_add" name="time" id="time" style="display: none;">
						<option value="~ 8:30">~ 8:30</option>
						<option value="~ 9:00">~ 9:00</option>
						<option value="~ 9:30">~ 9:30</option>
						<option value="~ 10:00">~ 10:00</option>
						<option value="~ 10:30">~ 10:30</option>
						<option value="~ 11:00">~ 11:00</option>
						<option value="~ 11:30">~ 11:30</option>
						<option value="~ 12:00">~ 12:00</option>
						<option value="~ 12:30">~ 12:30</option>
						<option value="~ 13:00">~ 13:00</option>
						<option value="~ 13:30">~ 13:30</option>
						<option value="~ 14:00">~ 14:00</option>
						<option value="~ 14:30">~ 14:30</option>
						<option value="~ 15:00">~ 15:00</option>
						<option value="~ 15:30">~ 15:30</option>
						<option value="~ 16:00">~ 16:00</option>
						<option value="~ 16:30">~ 16:30</option>
						<option value="~ 17:00">~ 17:00</option>
						<option value="~ 17:30">~ 17:30</option>
						<option value="~ 18:00">~ 18:00</option>
						<option value="~ 18:30">~ 18:30</option>
						<option value="~ 19:00">~ 19:00</option>
						<option value="~ 19:30">~ 19:30</option>
						<option value="~ 20:00">~ 20:00</option>
						<option value="~ 20:30">~ 20:30</option>
						<option value="~ 21:00">~ 21:00</option>
						<option value="~ 21:30">~ 21:30</option>
						<option value="~ 22:00">~ 22:00</option>
						<option value="22:00 ~">22:00 ~</option>
						<option value="不帰">不帰</option>
					</select></td>
					<td><textarea type="text" class="memo_add" name="memo" placeholder="メモ"></textarea></td>
					<td>/</td>
					<td>
						<div class="btn-wrap">
							<a href="javascript:form_table.submit()" class="btn btn-switch" id="btn_add"><span style="color: rgb(20, 16, 252);">新規</span></a>
						</div>
					</td>
				</tr>
            </table>
          <p class="space"><br></p>
        </form>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
<script>
	$(function() {
		$("#sortableArea").sortable();
	});
	//スマホhover無効処理
	var touch = 'ontouchstart' in document.documentElement || navigator.maxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;
	
	if(touch) {
	  try {
		for (var si in document.styleSheets) {
		  var styleSheet = document.styleSheets[si];
		  if (!styleSheet.rules) continue;
	
		  for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
			if (!styleSheet.rules[ri].selectorText) continue;
	
			if (styleSheet.rules[ri].selectorText.match(':hover')) {
			  styleSheet.deleteRule(ri);
			}
		  }
		}
	  } catch (ex) {}
	}
</script>

<script>
	
	$(function() {

		console.log('管理者権限: <%= login.admin %>');
		if ('<%= login.admin %>' != 1){
			$('.admin_only').remove();
		} else {
			$('body').css('background-image','url(https://recruit.msi-net.co.jp/main/wp-content/uploads/2019/12/mainvisual-002.jpg)');
			$('.color_example').css('background-color', 'rgba(83, 85, 85, 0.486)');
		}

		var ua = navigator.userAgent;
			if ((ua.indexOf('iPhone') >  0 || ua.indexOf('Android') >  0) && ua.indexOf('Mobile') >  0) {
				// スマートフォン用処理
				$('.mobile-hide').hide();
				$('.admin_only').remove();
				$('.header-left h1 span').click(function(){
					if ($('ul').hasClass('open')) {
						$(this).html('<i class="fa fa-bars" aria-hidden="true"></i>');
						$('ul').slideUp().removeClass('open');
						// $('#searchbox').slideDown();
					} else {
						$('ul').slideDown().addClass('open');
						$(this).html('<i class="fa fa-chevron-down" aria-hidden="true"></i>');
						// $('#searchbox').slideUp();
					}
				});
				//スクロールが100に達したらボタン表示
				$(window).scroll(function() {
					if ($(this).scrollTop() > 116){
						$('#searchbox').slideUp();
					} else {
						$('#searchbox').slideDown();
					}
				});
			}
			else {
				// PC用処理
				$('.mobile-hide').show();
				// Downlistメニュー
				$('.header-left h1 span').click(function(){
					if ($('ul').hasClass('open')) {
						$(this).html('<i class="fa fa-bars" aria-hidden="true"></i>');
						$('ul').slideUp().removeClass('open');
					} else {
						$('ul').slideDown().addClass('open');
						$(this).html('<i class="fa fa-chevron-down" aria-hidden="true"></i>');
					}
				});
			}

		$('.btn_edit').hover(function(){
			$(this).animate({opacity: 1},150)
		},function(){
			$(this).animate({opacity: 0.6}, 400)
		});

		$('#btn_add').click(function(){
			if ($('.add_name').val() == ''){
				alert('\n名前は必ず入力してください！');
				return false;
			} else if ($('#status').val() == ''){
				$('#time').val('');
				alert('\nパスワードは＂1＂;\n管理者権限は＂無＂；\nとして設定されています。');
				return true;
			}
		});

		$('#status').change(function() {

			var val = $(this).val();

			switch (val) {
				case '休暇':
					var selectContent_kyuuka = '<option value="全休">全休</option>' +
							'<option value="ＡＭ半休">ＡＭ半休</option>' + 
							'<option value="ＰＭ半休">ＰＭ半休</option>';
					$('#ikisaki').html(selectContent_kyuuka);
					$('#ikisaki').show();
					$('#time').val('').hide();
					break;
				case '客先':
					var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
					$('#ikisaki').html(selectContent_kyakusaki);
					$('#ikisaki').show();
					$('#time').show();
					break;
				case '社内':
					var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
					$('#ikisaki').html(selectContent_shanai);
					$('#ikisaki').show();
					$('#time').show();
					break;
				case '':
				case '在席':
				case '帰宅':
					$('#ikisaki').val('').hide();
					$('#time').val('').hide();
					break;
				default:
					$('#ikisaki').val('').hide();
					$('#time').show();
					break;
			}

		});

		// まとめ編集用

		if ($('#ikisaki-edit').val() == '') {
			$('#ikisaki-edit').hide();
		}
		if ($('#time-edit').val() == '') {
			$('#time-edit').hide();
		}

		$('#status-edit').change(function() {

			var val = $(this).val();

			switch (val) {
				case '休暇':
					var selectContent_kyuuka = '<option value="全休">全休</option>' +
							'<option value="ＡＭ半休">ＡＭ半休</option>' + 
							'<option value="ＰＭ半休">ＰＭ半休</option>';
					$('#ikisaki-edit').html(selectContent_kyuuka);
					$('#ikisaki-edit').show();
					$('#time-edit').val('').hide();
					break;
				case '客先':
					var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
					$('#ikisaki-edit').html(selectContent_kyakusaki);
					$('#ikisaki-edit').show();
					$('#time-edit').show();
					break;
				case '社内':
					var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
					$('#ikisaki-edit').html(selectContent_shanai);
					$('#ikisaki-edit').show();
					$('#time-edit').show();
					break;
				case '':
				case '在席':
				case '帰宅':
					$('#ikisaki-edit').val('').hide();
					$('#time-edit').val('').hide();
					break;
				default:
					$('#ikisaki-edit').val('').hide();
					$('#time-edit').show();
					break;
			}

		});		

		$('.color_example').hover(function(){
			$('.index-form').animate({marginLeft:'-15.93px'},0);
			$('#edit-group').animate({marginTop:'48px'},0);
		},function(){
			$('.index-form').animate({marginLeft:'0px'},0);
			$('#edit-group').animate({marginTop:'0px'},0);
		})

		$('.color_example p').hover(function(){
			var color = $(this).children('i').attr('style');
			$(this).attr('style', color).children('i').attr('class','fas fa-arrow-circle-right');
		},function(){
			$(this).attr('style', '').children('i').attr('class','fas fa-circle');
		})


		$('.color_example p').click(function(){

			var text = $(this).text();
			console.log(text);
			$('.find-status').each(function(){
				console.log($(this).text());
				if ($(this).text() != text){
					$(this).parent('tr').hide();
				} else {
					$(this).parent('tr').show();
				}
			});
			$(this).addClass('clicked');
			
		})

		// 新規登録モーダル
		$('#create_user').click(function() {
			$('#signup-modal').fadeIn();
		});
		$('#close-modal').click(function() {
			$('#signup-modal').fadeOut();
		});
		// admin判定
		$('#newadmin_check_btn').click(function(){
			if ($(this).hasClass('Isadmin')){
				$(this).removeClass('Isadmin').children('i').attr('class','fas fa-user');
				$('#adduser-form h2').text('社員新規登録');
				$('#create_name').attr('placeholder','名前');
				$('#btn_newuser').css({
					'background-color': '#56bed8'
				});
				
				$('#newadmin_check_body').val('0');
				console.log('新規管理者判定: ' + $('#newadmin_check_body').val());
			} else {
				$(this).addClass('Isadmin').children('i').attr('class','fas fa-user-shield');
				$('#adduser-form h2').text('管理者新規登録');
				$('#create_name').attr('placeholder','名前 (admin)')
				$('#btn_newuser').css({
					'background-color': '#ff9f4f'
				});

				$('#newadmin_check_body').val('1');
				console.log('新規管理者判定: ' + $('#newadmin_check_body').val());
			}
		});

		$('#newadmin_check_btn i').hover(function(){
			if ($('#newadmin_check_btn').hasClass('Isadmin')){
				$(this).css('color', '#e7853e');
			}else {
				$(this).css('color', '#33b4d4');
			}
		},function(){
			if ($('#newadmin_check_btn').hasClass('Isadmin')){
				$(this).css('color', '#ff9f4f');
			}else {
				$(this).css('color', '');
			}
		});


		$('#btn_newuser').hover(function(){
			if ($('#newadmin_check_btn').hasClass('Isadmin')){
				$(this).css('background-color', '#e7853e');
			}else {
				$(this).css('background-color', '#33b4d4');
			}
		},function(){
			if ($('#newadmin_check_btn').hasClass('Isadmin')){
				$(this).css('background-color', '#ff9f4f');
			}else {
				$(this).css('background-color', '');
			}
		});


		// 新規客先登録モーダル
		$('#create_kyakusaki').click(function() {
			$('#form_newkyakusaki').children().children('input[name="kyakusaki"]').parent().show();
			$('#addkyakusaki-modal').fadeIn();
		});
		$('#close-modal2').click(function() {
			$('#addkyakusaki-modal').fadeOut();
		});

		// 新規社内登録モーダル
		$('#create_shanai').click(function() {
			$('#form_newshanai').children().children('input[name="shanai"]').parent().show();
			$('#addshanai-modal').fadeIn();
		});
		$('#close-modal3').click(function(){
			$('#addshanai-modal').fadeOut();
		});


		// 基本情報変更モーダル
		$('#change_userinfo').click(function() {
			$('#userinfo-modal').fadeIn();
		});
		$('#close-modal4').click(function(){
			$('#userinfo-modal').fadeOut();
		});

		// まとめ変更モーダル

		//まとめ編集用
		$('#edit-group').hide();
		$('.table_name').hover(function(){
			$(this).css('border','2px solid #169ddb2c');
		},function(){
			$(this).css('border','');
		});

		$('.table_name').click(function(){

			var val = $(this).parent().children('.find-status').text();

			switch (val) {
				case '休暇':
					var selectContent_kyuuka = '<option value="全休">全休</option>' +
							'<option value="ＡＭ半休">ＡＭ半休</option>' + 
							'<option value="ＰＭ半休">ＰＭ半休</option>';
					$('#ikisaki-edit').html(selectContent_kyuuka);
					$('#ikisaki-edit').show();
					$('#time-edit').val('').hide();
					break;
				case '客先':
					var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
					$('#ikisaki-edit').html(selectContent_kyakusaki);
					$('#ikisaki-edit').show();
					$('#time-edit').show();
					break;
				case '社内':
					var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
					$('#ikisaki-edit').html(selectContent_shanai);
					$('#ikisaki-edit').show();
					$('#time-edit').show();
					break;
				case '':
				case '在席':
				case '帰宅':
					$('#ikisaki-edit').val('').hide();
					$('#time-edit').val('').hide();
					break;
				default:
					$('#ikisaki-edit').val('').hide();
					$('#time-edit').show();
					break;
			}
	

			if ($(this).hasClass('editing-group')){
				$(this).css({'background-color':'','color':''}).removeClass('editing-group');
			} else {
				$(this).css({'background-color':'#169ddb','color':'white'}).addClass('editing-group');
				$('#status-edit').val($(this).parent().children('.find-status').text());
				$('#ikisaki-edit').val($(this).parent().children('.table_ikisaki').text());
				$('#time-edit').val($(this).parent().children('.table_time').text());
				$('.memo_add_edit').val($(this).parent().children('.table_memo').text());
			}
			console.log($('.editing-group').length);
			if ($('.editing-group').length){
				if ($('.editing-group').length == 1){
					$('#edit-group').show();
					$('#edit-group p').text('クイック編集');
					$('#editing-form h2').text('クイック編集');
					$('.color_example').css('pointer-events','none');
					$('.mailto').hide();
				} else {
				$('#edit-group').show();
				$('#edit-group p').text('まとめて編集');
				$('#editing-form h2').text('まとめて編集');
				$('.color_example').css('pointer-events','none');
				$('.mailto').hide();
				}
			} else {
				$('#edit-group').hide();
				$('.color_example').css('pointer-events','');
			}
		});

		$('#edit-group').click(function(){
			$('#editing-modal').fadeIn();
			var editingNames = '';
			$('.editing-group').each(function(){
				$('#editing-form form').append('<div class="append_area"><input name="editing_name" type="hidden" value="' + $(this).children('.name').text() + '">' +
					'<input name="editing_id" type="hidden" value="' + $(this).children('.id').text() + '"></div>');
				editingNames = editingNames + $(this).children('.name').text() + "，";
			})
			console.log(editingNames);
			$('#edting_name').val(editingNames.slice(0,-1));
		});
		$('#close-modal5').click(function(){
			$('#editing-modal').fadeOut();
			$('.append_area').remove();
		});　

		//logout
		$('#logout').click(function(){
			window.location.href = '/logout';
		});



		// 社員新規入力passwordチェック
		$('#btn_newuser').click(function(){
			if ($('#create_name').val() == '' || $('#create_department').val() == '' || $('#create_password').val() == '' || $('#tmp_password').val() == '') {
				alert('\n名前、所属、パスワードは必ず入力してください！');
				return false;
			} else if ($('#create_password').val() != $('#tmp_password').val()) {
				$('#create_password').val('');
				$('#tmp_password').val('');
				$('#create_password').attr('placeholder','入力が一致しません。');
				$('#tmp_password').attr('placeholder','パスワードを確認してください。');
				return false;
			} else {
				return true;
			}
		});

		// 基本情報変更passwordチェック
		$('#btn_newuserinfo').click(function(){
			if ($('#userinfo_name').val() == '' || $('#userinfo_department').val() == '' || $('#userinfo_newpassword').val() == '' || $('#userinfo_newpassword_tmp').val() == '') {
				alert('\n名前、所属、パスワードは必ず入力してください！');
				return false;
			} else if ($('#userinfo_newpassword').val() != $('#userinfo_newpassword_tmp').val()) {
				$('#userinfo_newpassword').val('');
				$('#userinfo_newpassword_tmp').val('');
				$('#userinfo_newpassword').attr('placeholder','入力が一致しません。');
				$('#userinfo_newpassword_tmp').attr('placeholder','パスワードを確認してください。');
				return false;
			} else {
				alert('\n変更できました！\n\nログインし直してください。')
				return true;
			}
		});

		//客先追加INPUTBOXをclone
		var minCount = 1;
		var maxCount = 7;

		$('#btn_kyakusaki_add').on('click', function(){
			var inputCount = $('div.clone_newkyakusaki').length;
			if (inputCount < maxCount){
				$('div#clone_newkyakusaki')
				.clone(true)
				.removeAttr('id')
				.removeClass('hide')
				.children('input').attr('name','newkyakusaki')
				.end()
				.appendTo('#clonearea_newkyakusaki')
			}
		});
		$('#btn_kyakusaki_add').hover(function(){
			$(this).animate({fontSize: '25px'},0);
		},function(){
			$(this).animate({fontSize: '15px'},100);
		});

		$('.btn_kyakusaki_minus').on('click', function(){

			var inputCount = $('div.clone_newkyakusaki').length;
			if (inputCount > minCount){
				$(this).parent('span').parent('div').remove();
			}
			
		});

		$('.btn_kyakusaki_delete').on('click', function(){
			$(this).parent().parent().children('input[name="kyakusaki"]').end().slideUp();
		});
		$('.btn_kyakusaki_delete').hover(function(){
			$(this).animate({fontSize: '15px'},0);
		},function(){
			$(this).animate({fontSize: '15px'},100);
		});

		$('#btn_newkyakusaki').on('click', function(){
			var data = '';
			$('#form_newkyakusaki').children().children('input[name="kyakusaki"]').parent().each(function(){
				if ($(this).is(':hidden')){
					data += $(this).children('input[name="kyakusaki"]').val() + '，';
					$(this).children('input[name="kyakusaki"]').val('');
				}
			})
			if (data != ''){
				if(!confirm('\n"' + data.slice(0,-1) + '"は削除されます。\nよろしいですか？')){
					window.location.href = '/';
					return false;
				} else {
					return true;
				}
			}
		})

		//社内追加INPUTBOXをclone
		var minCount_shanai = 1;
		var maxCount_shanai = 5;

		$('#btn_shanai_add').on('click', function(){
			var inputCount = $('div.clone_newshanai').length;
			if (inputCount <= maxCount_shanai){
				$('div#clone_newshanai')
				.clone(true)
				.removeAttr('id')
				.removeClass('hide')
				.children('input').attr('name','newshanai')
				.end()
				.appendTo('#clonearea_newshanai')
			}
		});
		$('#btn_shanai_add').hover(function(){
			$(this).animate({fontSize: '25px'},0);
		},function(){
			$(this).animate({fontSize: '15px'},100);
		});

		$('.btn_shanai_minus').on('click', function(){
			var inputCount = $('div.clone_newshanai').length;
			if (inputCount > minCount_shanai){
				$(this).parent('span').parent('div').remove();
			}
		});

		$('.btn_shanai_delete').on('click', function(){
			$(this).parent().parent().children('input[name="shanai"]').end().slideUp();
		});
		$('#btn_newshanai').on('click', function(){
			var data = '';
			$('#form_newshanai').children().children('input[name="shanai"]').parent().each(function(){
				if ($(this).is(':hidden')){
					data += $(this).children('input[name="shanai"]').val() + '，';
					$(this).children('input[name="shanai"]').val('');
				}
			})
			if (data != ''){
				if(!confirm('\n"' + data.slice(0,-1) + '"は削除されます。\nよろしいですか？')){
					window.location.href = '/';
					return false;
				} else {
					return true;
				}
			}
		})
	
		//tr td hover　色変化
		$('.table_index tbody tr').hover(function(){
		$('.icon').not($(this).children().children()).stop().hide();
		},function(){
			$('.icon').not($(this).children().children()).stop().show();
		});

		$('.mailto').hide();
		$('.tooltip').hide();
		if ((ua.indexOf('iPhone') >  0 || ua.indexOf('Android') >  0) && ua.indexOf('Mobile') >  0) {
			console.log('スマホにmailto無効化');
		} else {
			$('.table_name').hover(function(){
				$(this).children('.mailto').show();
			},function(){
				$(this).children('.mailto').hide();
			})
			$('.mailto').hover(function(){
				$(this).children().children('i').attr('class','fas fa-envelope');
				$(this).parent('td').children('p').fadeIn(200);
			},function(){
				$(this).children().children('i').attr('class','far fa-envelope');
				$(this).parent('td').children('p').fadeOut(200);
			})
		}


		//連絡事項
		if ($("#contact_text").val().length > 0){
			$('.contact_icon').click(function(){
				if ($('.kakomi-smart2').hasClass('open')){
					$('.kakomi-smart2').fadeOut(420).removeClass('open');
					$(this).animate({color: '#4edfe9'},420);
				} else {
					$('.kakomi-smart2').fadeIn(420).addClass('open');
					$(this).animate({color: '#907b6e'},420);
				}
			});
		} else {
			$('.contact_icon').css('color','#308f96');
			$('.contact_icon').click(function(){
				if ($('.kakomi-smart2').hasClass('open')){
					$('.kakomi-smart2').fadeOut(420).removeClass('open');
					$(this).animate({color: '#308f96'},420);
				} else {
					$('.kakomi-smart2').fadeIn(420).addClass('open');
					$(this).animate({color: '#907b6e'},420);
				}
			});
		}

		
		var $form = $("#form_contact");
		var $ta = $("#contact_text");

		$(document).on("keypress", "#contact_text", function(e) {
		  if (e.keyCode == 13) { // Enterが押された
		    if (e.shiftKey) { // Shiftキーも押された
		      $.noop();
		    } else if ($ta.val().replace(/\s/g, "").length >= 0) {
		      e.preventDefault();
		      $form.submit();
		    }
		  } else {
		    $.noop();
		  }
		});
		
	});
</script>
</body>
</html>