<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

<body>
	<header>
			<div class="header-right">
				<a href="/"><img class="logo" src="https://msi-net.co.jp/main/wp-content/uploads/2020/01/logo.png"></a>
			</div>
			<div class="header-left">
						<h1><span><i class="fa fa-bars" aria-hidden="true"></i></span><%= title %></h1>
						<ul class="downlist">
							<li><span><i class="fa fa-user-plus" aria-hidden="true"></i></span><a href="#" class="create_user">新規登録</a></li>
							<li><span><i class="fa fa-building" aria-hidden="true"></i></span><a href="#" class="create_kyakusaki">新規客先追加</a></li>
							<li><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span><a href="#" class="create_shanai">新規社内追加</a></li>
							<li><span><i class="fa fa-sign-out" aria-hidden="true"></i></span><a href="/logout" class="logout">ログアウト</a></li>
						</ul>
			</div>
			<div id="searchbox-input-wrapper">
				<form method="POST" action="/">
					<input id="searchbox" name="find" type="search" autocomplete="off" spellcheck="false" aria-live="polite" autofocus="" placeholder="&#xf002; <%= finding %>">
				</form>
			</div>
	</header>

	<!-- モーダル部分 -->
	<div class="signup-modal-wrapper" id="signup-modal">
		<div class="modal">
		  <div id="close-modal">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="signup-form">
			<h2>名前で新規登録</h2>
			<form name="form_newuser" method="POST" action="/newuser">
			  <input id="create_department" name="department" class="form-control" type="text" placeholder="部署名">
			  <input id="create_name" name="name" class="form-control" type="text" placeholder="名前">
			  <input id="create_password" name="password" class="form-control" type="password" placeholder="パスワード">
			  <input id="tmp_password" class="form-control" type="password" placeholder="パスワードを確認">
			  <a href="javascript:form_newuser.submit()" id="btn_newuser">新規登録</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで -->
	
	<!-- モーダル部分 -->
	<div class="signup-modal-wrapper" id="addkyakusaki-modal">
		<div class="modal">
		  <div id="close-modal2">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="addkyakusaki-form">
			<h2>新規客先を登録</h2>
			<form name="form_newkyakusaki" method="POST" action="/newkyakusaki">
				<% for (i in datakyakusaki) {  %><input name="kyakusaki<%= i %>" type="text" value="<%= datakyakusaki[i].attributes.kyakusaki %>"><input type="hidden" name="id" value="<%= i %>"><%  } %>
			  <input id="create_kyakusaki" name="newkyakusaki" class="form-control" type="text" placeholder="新客先を追加">
			  <a href="javascript:form_newkyakusaki.submit()" id="btn_newkyakusaki">登録</a>
			</form>
		  </div>
		</div>
	</div>

	<div class="signup-modal-wrapper" id="addshanai-modal">
		<div class="modal">
		  <div id="close-modal3">
			<i class="fa fa-2x fa-times"></i>
		  </div>
		  <div id="addshanai-form">
			<h2>新規社内を登録</h2>
			<form name="form_newshanai" method="POST" action="/newshanai">
			  <input id="create_shanai" name="shanai" class="form-control" type="text" placeholder="新社内位置を追加">
			  <a href="javascript:form_newshanai.submit()" id="btn_newshanai">登録</a>
			</form>
		  </div>
		</div>
	</div>
	<!-- モーダルここまで -->


<div class="main_index">
	<div role="main" class="index-form">
        <form name="form_table" method="POST" action="/add">
            <p><table class="table_index">
				<thead>
					<tr>
						<th class="mobile-hide" style="min-width: 100pt;">所属</th>
						<th style="min-width: 80pt;">名前</th>
						<th style="min-width: 80pt;">情報</th>
						<th style="min-width: 80pt;">状態</th>
						<th style="min-width: 120pt;">行先</th>
						<th style="min-width: 80pt;">予定時刻</th>
						<th style="min-width: 120px;">メモ</th>
						<th style="min-width: 90pt;">前回更新</th>
						<th style="width: 12%; min-width: 75pt;">変更</th>
					</tr>
				</thead>
                <% for(var i in usertabledata) { %>
                    <%- include('data_item', {usertabledata:usertabledata[i]}) %>
				<% } %>
				<tr class="mobile-hide tr_add">
					<td><input type="text" class="text_add" name="department" placeholder="部署"></td>
					<td><input type="text" class="text_add add_name" name="name" placeholder="名前"></td>
					<td><input type="text" class="text_add" name="information" placeholder="内線"></td>
					<td><select name="status" class="select_add" id="status">
						<% datastatus.forEach ( (element)=> {  %>
							<option value="<%= element.attributes.status %>"><%= element.attributes.status %></option>
						<% }); %>
						</select>
					</td>
					<td><select class="select_add" name="ikisaki" id="ikisaki" style="display: none;"></select></td>
					<td><select class="select_add" name="time" id="time" style="display: none;">
						<option value="~ 8:30">~ 8:30</option>
						<option value="~ 9:00">~ 9:00</option>
						<option value="~ 9:30">~ 9:30</option>
						<option value="~ 10:00">~ 10:00</option>
						<option value="~ 10:30">~ 10:30</option>
						<option value="~ 11:00">~ 11:00</option>
						<option value="~ 11:30">~ 11:30</option>
						<option value="~ 12:00">~ 12:00</option>
						<option value="~ 12:30">~ 12:30</option>
						<option value="~ 13:00">~ 13:00</option>
						<option value="~ 13:30">~ 13:30</option>
						<option value="~ 14:00">~ 14:00</option>
						<option value="~ 14:30">~ 14:30</option>
						<option value="~ 15:00">~ 15:00</option>
						<option value="~ 15:30">~ 15:30</option>
						<option value="~ 16:00">~ 16:00</option>
						<option value="~ 16:30">~ 16:30</option>
						<option value="~ 17:00">~ 17:00</option>
						<option value="~ 17:30">~ 17:30</option>
						<option value="~ 18:00">~ 18:00</option>
						<option value="~ 18:30">~ 18:30</option>
						<option value="~ 19:00">~ 19:00</option>
						<option value="~ 19:30">~ 19:30</option>
						<option value="~ 20:00">~ 20:00</option>
						<option value="~ 20:30">~ 20:30</option>
						<option value="~ 21:00">~ 21:00</option>
						<option value="~ 21:30">~ 21:30</option>
						<option value="~ 22:00">~ 22:00</option>
						<option value="22:00 ~">22:00 ~</option>
						<option value="不帰">不帰</option>
					</select></td>
					<td><textarea type="text" class="memo_add" name="memo" placeholder="メモ"></textarea></td>
					<td>/</td>
					<td>
						<div class="btn-wrap">
							<a href="javascript:form_table.submit()" class="btn btn-switch" id="btn_add"><span style="color: rgb(20, 16, 252);">新規</span></a>
						</div>
					</td>
				</tr>
            </table>
          <p class="space"><br></p>
        </form></p>
	</div>
</div>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(function() {

		var ua = navigator.userAgent;
			if ((ua.indexOf('iPhone') >  0 || ua.indexOf('Android') >  0) && ua.indexOf('Mobile') >  0) {
				// スマートフォン用処理
				$('.mobile-hide').hide();
			} 
			else {
				// PC用処理
				$('.mobile-hide').show();
			}

		$('.btn_edit').hover(function(){
			$(this).animate({opacity: 1},150)
		},function(){
			$(this).animate({opacity: 0.6}, 400)
		});

		$('#btn_add').click(function(){
			if ($('.add_name').val() == ''){
				alert('\n名前は必ず入力してください！');
				return false;
			} else if ($('#status').val() == ''){
				$('#time').val('');
				alert('パスワードは"1"として設定されています。');
				return true;
			}
		});

		$('#status').change(function() {

			var val = $(this).val();

			switch (val) {
				case '休暇':
					var selectContent_kyuuka = '<option value="全休">全休</option>' +
							'<option value="ＡＭ半休">ＡＭ半休</option>' + 
							'<option value="ＰＭ半休">ＰＭ半休</option>';
					$('#ikisaki').html(selectContent_kyuuka);
					$('#ikisaki').show();
					$('#time').val('').hide();
					break;
				case '客先':
					var selectContent_kyakusaki = '<% datakyakusaki.forEach ( (element)=> { %><option value="<%= element.attributes.kyakusaki %>"><%= element.attributes.kyakusaki %></option><%  }) %>';
					$('#ikisaki').html(selectContent_kyakusaki);
					$('#ikisaki').show();
					$('#time').show();
					break;
				case '社内':
					var selectContent_shanai = '<% datashanai.forEach ( (element)=> { %><option value="<%= element.attributes.shanai %>"><%= element.attributes.shanai %></option><%  }) %>';
					$('#ikisaki').html(selectContent_shanai);
					$('#ikisaki').show();
					$('#time').show();
					break;
				case '':
				case '在席':
				case '帰宅':
					$('#ikisaki').val('').hide();
					$('#time').val('').hide();
					break;
				default:
					$('#ikisaki').val('').hide();
					$('#time').show();
					break;
			}

		});

		// 新規登録モーダル
		$('.create_user').click(function() {
			$('#signup-modal').fadeIn();
		});

		$('#close-modal').click(function() {
			$('#signup-modal').fadeOut();
		});

		// 新規客先登録モーダル
		$('.create_kyakusaki').click(function() {
			$('#addkyakusaki-modal').fadeIn();
		});

		$('#close-modal2').click(function() {
			$('#addkyakusaki-modal').fadeOut();
		});
		// 新規社内登録モーダル
		$('.create_shanai').click(function() {
			$('#addshanai-modal').fadeIn();
		});

		$('#close-modal3').click(function() {
			$('#addshanai-modal').fadeOut();
		});


		// Downlistメニュー
		$('.header-left h1 span').click(function(){
			if ($('ul').hasClass('open')) {
				$(this).html('<i class="fa fa-bars" aria-hidden="true"></i>');
				$('ul').slideUp().removeClass('open');
			} else {
				$('ul').slideDown().addClass('open');
				$(this).html('<i class="fa fa-chevron-down" aria-hidden="true"></i>');
				
			}
		});

		// 新規入力チェック
		$('#btn_newuser').click(function(){
			if ($('#create_name').val() == '' || $('#create_department').val() == '' || $('#create_password').val() == '' || $('#tmp_password').val() == '') {
				alert('\nすべての項目を入力してください！');
				return false;
			} else if ($('#create_password').val() !== $('#tmp_password').val()) {
				$('#create_password').val('');
				$('#tmp_password').val('');
				$('#create_password').attr('placeholder','入力が一致しません。');
				$('#tmp_password').attr('placeholder','パスワードを確認してください。');
				return false;
			} else {
				return true;
			}
		});


	});
</script>
</body>
</html>